@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,700&family=Roboto:ital,wght@1,700&display=swap");
:root {
  ---primary-color: black;
  ---drak-gray: rgb(238, 234, 175);
}

body {
  background-image: url(./logo/cream.jpg);
  width: 100%;
  height: 100vh;
  font-family: "Mulish", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
hr {
  margin: 2rem 0rem;
}
.container {
  padding: 0rem 1rem;
  color: black;
}
.container-center {
  max-width: 600px;
  margin: auto;
}
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.primary-link {
  background-color: var(---primary-color);
  border-radius: 0.5rem;
  color: white;
}
.secondary-link {
  color: var(---primary-color);
  border-radius: 0.5rem;
  border: 1px solid var(---primary-color);
}

.list-non-bullet {
  list-style: none;
}
.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

.navigation {
  color: black;
  padding: 2rem 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.navigation .nav-pills {
  text-align: right;
}
.navigation .link {
  color: black;
}
.navigation .link-active {
  font-weight: bold;
}
.hero {
  padding: 2rem;
}
.hero .hero-img {
  max-width: 350px;
  display: block;
  margin: auto;
}
.hero .hero-headings {
  text-align: center;
  padding-top: 1rem;
  color: var(---drak-gray);
}
.hero .hero-headings .heading-inverted {
  color: var(---primary-color);
}
.section {
  padding: 2rem;
}
.section h1 {
  text-align: center;
}
.ow {
  background-color: var(---black-off);
}
/* footer {
  background-image: url(./logo/sddefault.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50% 10px;
  width: 100%;
  clear: both;
} */
footer {
  float: left;
  width: 100%;
  clear: both;
  background-repeat: no-repeat;
  background-size: 40%;
}
.footer {
  padding: 2rem 1rem;
  text-align: center;
  color: black;
  border-top-right-radius: 1rem;
}
.footer .footer-header {
  font-weight: bold;
  font-size: large;
}
.footer .link {
  color: black;
}
.footer ul {
  padding-inline-start: 0px;
}
